################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
**/bin
**/obj
*.user
*.lock.json
*-lock.json
**/lib
**/node_modules

/Playground.core/wwwroot/**/*
_ReSharper.Caches/
Playground.core/Tracing/
*-lock.json
/.vscode
**/Tracing
