################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
**/bin
**/obj
*.user
**/lib
**/node_modules
/Playground.core/wwwroot/app/*.js
/Playground.core/wwwroot/app/*.map
